@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 10px 100px;
  background-color: #21252a;
}

#logo-text {
  font-size: 26px;
  color: #ffffff;
}

#list ul li {
  display: inline;
  padding: 0px 0px;
}

#list ul li a {
  color: #999b9d;
  text-decoration: none;
  padding: 0px 16px;
}

#list ul li a:hover {
  color: #ffffff;
}

#dropdown-button{
    background:none;
    border:none;
    color: #999b9d;
    font-size: 16px;
    padding: 0px 16px;
}

#dropdown-button:hover{
    color: #ffffff;
    cursor: pointer;
}

#dropdown-button {
  background-color: #21252a;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-list {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-list a {
  color: #999b9d;
  text-decoration: none;
  display: block;
  padding: 15px 16px !important;
}

#dropdown-list a:hover {
  background-color: #21252a;
  border-radius: 4px;
}

#dropdown:hover #dropdown-list {
  display: block;
}

#dropdown:hover #dropdown-button {
  background-color: #21252a;
}


ul li a#disabled {
  color: #54585b;
}

ul li a#disabled:hover {
  color: #54585b;
}

.fa-solid {
  color: #999b9d;
  padding-left: 5px;
}

#search {
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
}

#search:focus {
  outline: none;
}

#search-button {
  padding: 6px 15px;
  border: 1px solid #217d53;
  border-radius: 5px;
  background-color: #21252a;
  color: #217d53;
  cursor: pointer;
}

